<template>
  <v-col>
    <router-link class="home-button" to="/">
      <v-btn color="primary" fab x-large>
        <v-icon>mdi-home</v-icon>
      </v-btn>
    </router-link>
<!--Questions-->
    <v-container v-if="!questionAnswered">
      <v-row  class="justify-center align-center mt-12">
        <v-card raised shaped class="rounded mt-12">
          <v-card-text class="blue-grey--text pb-8">
            <div v-for="(text, index) in currentQuestions.text.split('\n')" :key="index">
              {{ text }}
            </div>
          </v-card-text>
          <v-row class="px-6" v-if="currentQuestions.type ==='slider'">
            {{currentQuestions.min}}
            <v-slider
              :min="currentQuestions.min"
              :max="currentQuestions.max"
              :value="sliderValue"
              v-model="sliderValue"
              color="blue-grey"
              track-color="blue-grey"
              thumb-color="blue-grey"
              thumb-label="always"
              :thumb-size="24"
            ></v-slider>
            {{currentQuestions.max}}
          </v-row>
          <div class="radio-center">
            <v-radio-group
              class="px-6"
              v-if="currentQuestions.type ==='radio'"
              v-model="radioGroup"
              row
            >
              <v-radio
                v-for="choice in currentQuestions.choices"
                :key="choice.text"
                :label="choice.text"
                :value="choice.text"
              ></v-radio>
            </v-radio-group>
          </div>
          <div class="d-flex justify-center pb-3">
            <v-btn color="success" fab v-on:click="answerQuestion()">
              <v-icon>mdi-check-bold</v-icon>
            </v-btn>
          </div>
        </v-card>
      </v-row>
      <v-img
        v-if="sliderValue > 100"
        class="garbage-1"
        src="../../assets/images/garbage1.png"
        width="150"
        height="60"
      ></v-img>
      <v-img
        v-if="sliderValue > 150"
        class="garbage-2"
        width="150"
        height="150"
        src="../../assets/images/garbage2.png"
      ></v-img>
    </v-container>
<!--Réponses-->
    <v-container fluid class="mr-12 pt-0" v-if="questionAnswered">
      <v-row>
        <v-col cols="6"></v-col>
        <v-col>
          <v-card raised shaped class="rounded blue-grey--text">
            <div v-for="answer in currentQuestions.answers" :key="answer.text">
              <div class="d-flex flex-no-wrap justify-space-between">
                <v-avatar
                  v-if="answer.image.length > 0 && answer.imageLeft"
                  class="ma-3"
                  size="100"
                  tile
                >
                  <v-img :src="getImgUrl(answer.image)"></v-img>
                </v-avatar>
                <div>
                  <v-card-title
                    v-if="answer.title.length > 0"
                    class="flex-column align-start"
                  >
                    <div v-for="(title, index) in answer.title.split('\n')" :key="index">
                      {{ title }}
                    </div>
                  </v-card-title>
                  <v-card-subtitle v-if="answer.text.length > 0" class="pb-0">
                    <div v-for="(text, index) in answer.text.split('\n')" :key="index">
                      {{ text }}
                    </div>
                  </v-card-subtitle>
                </div>
                <v-avatar
                  v-if="answer.image.length > 0 && !answer.imageLeft"
                  class="ma-3"
                  size="125"
                  tile
                >
                  <v-img :src="getImgUrl(answer.image)"></v-img>
                </v-avatar>
              </div>
            </div>
            <div class="d-flex justify-center pb-3">
              <v-btn color="success" fab v-on:click="nextQuestion()">
                <v-icon>mdi-check-bold</v-icon>
              </v-btn>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-col>
</template>

<script>
export default {
  name: 'MiniGameQuestion',
  data() {
    return {
      questionsIndex: 0,
      questionAnswered: false,
      min: 0,
      max: 200,
      sliderValue: 50,
      mascotAnswerIndex: 0,
      previousSliderValue: 0,
      radioGroup: '',
    };
  },
  methods: {
    answerQuestion() {
      this.questionAnswered = true;
      this.currentQuestions.mascotAnswers.forEach((mascotAnswer) => {
        if (this.previousSliderValue <= this.sliderValue
          && this.sliderValue <= mascotAnswer.maxSliderValue) {
          this.mascotAnswerIndex = this.currentQuestions.mascotAnswers.indexOf(mascotAnswer);
        }
        this.previousSliderValue = mascotAnswer.maxSliderValue;
      });
      this.$store.commit('setMascot', {
        display: true,
        title: this.currentQuestions.mascotAnswers[this.mascotAnswerIndex].title,
        text: this.currentQuestions.mascotAnswers[this.mascotAnswerIndex].text,
      });
    },
    nextQuestion() {
      this.questionsIndex += 1;
      if (this.questionsIndex < this.$store.state.miniGameQuestion.length) {
        this.questionAnswered = false;
        this.mascotAnswerIndex = 0;
        this.sliderValue = this.currentQuestions.sliderValue;
        this.radioGroup = this.currentQuestions.defaultChoice;
        this.$store.commit('setProgress', {
          display: true,
          bar: this.$store.state.miniGameQuestion.length,
          current: this.questionsIndex,
        });
        this.$store.commit('setMascot', {
          display: false,
        });
      } else {
        this.$router.push('End');
      }
    },
    getImgUrl(answer) {
      const image = require.context('../../assets/images/', false, /\.png$/);
      return image(`./${answer}.png`);
    },
  },
  mounted() {
    this.$store.commit('setBackground', 'sea');
    this.$store.commit('setProgress', {
      display: true,
      bar: this.$store.state.miniGameQuestion.length,
      current: 0,
    });
    this.$store.commit('setMascot', {
      display: false,
    });
    this.sliderValue = this.currentQuestions.sliderValue;
  },
  computed: {
    currentQuestions() {
      return this.$store.state.miniGameQuestion[this.questionsIndex];
    },
  },
};
</script>
<style scoped>
  .home-button{
    position: absolute;
    top: 12px;
    left: 12px;
    text-decoration: none !important;
  }
  .garbage-1 {
    position: absolute;
    right: 100px;
    bottom: 50px;
  }
  .garbage-2 {
    position: absolute;
    left:500px;
    bottom: 150px;
  }
  .rounded {
    border-radius:20px;
  }
  .radio-center {
    display: flex;
    justify-content: space-around;
  }
</style>
