<template>
  <v-col class="mt-12">
    <v-row class="flex-column mt-12 justify-center align-center">
    <span class="blue-grey--text display-2 home-text">
      Félicitations mon ami !!!
    </span>
      <v-row class="justify-center mt-5">
        <router-link to="/" class="link">
          <v-btn x-large color="success">
            ACCUEIL
          </v-btn>
        </router-link>
      </v-row>
    </v-row>
  </v-col>
</template>

<script>
export default {
  name: 'End',
  mounted() {
    this.$store.commit('setBackground', 'home');
    this.$store.commit('setMascot', {
      display: true,
      title: this.$store.state.end.mascot.title,
      text: this.$store.state.end.mascot.text,
    });
    this.$store.commit('setProgress', {
      display: false,
      bar: 0,
      current: 0,
    });
  },
};
</script>

<style scoped>
  .home-text {
    font-style: italic;
    font-weight: bold !important;
  }
  .link {
    text-decoration: none;
  }
</style>
