<template>
  <v-col class="mt-12">
    <v-row class="mt-12 flex-column justify-center align-center">
    <span class="blue-grey--text display-2 home-text">
      Veux tu jouer et t'informer ?
    </span>
      <v-row class="justify-center mt-5">
        <router-link to="/question" class="link">
          <v-btn x-large color="success">
            GO !
          </v-btn>
        </router-link>
      </v-row>
    </v-row>
  </v-col>
</template>

<script>
export default {
  name: 'Home',
  mounted() {
    this.$store.commit('setBackground', 'home');
    this.$store.commit('setMascot', {
      display: true,
      title: this.$store.state.home.mascot.title,
      text: this.$store.state.home.mascot.text,
    });
    this.$store.commit('setProgress', {
      display: false,
      bar: 0,
      current: 0,
    });
  },
};
</script>
<style scoped>
  .home-text {
    font-style: italic;
    font-weight: bold !important;
  }
  .link {
    text-decoration: none;
  }
</style>
