<template>
  <v-container class="pa-0">
    <v-col cols="2">
      <v-card class="mascot-text rounded blue-grey--text" raised shaped>
        <v-card-title v-if="title.length > 0">{{title}}</v-card-title>
        <v-card-text>
          <div v-for="(text, index) in text.split('\n')" :key="index">
            {{ text }}
          </div>
        </v-card-text>
      </v-card>
      <v-img
        class="mascot"
        src="../assets/images/mascot.png"
        width="150"
        height="150">
      </v-img>
    </v-col>
  </v-container>
</template>

<script>
export default {
  name: 'Mascot',
  props: {
    title: {
      type: String,
    },
    text: {
      type: String,
    },
  },
};
</script>

<style scoped>
  .mascot {
    position: absolute;
    left: 50px;
    bottom: 10px;
  }
  .mascot-text {
    position: absolute;
    bottom: 100px;
    left: 150px;
    font-style: italic;
  }
  .rounded {
    border-radius:20px;
  }
</style>
