<template>
  <v-row class="progress-bar justify-space-between">
    <div
      v-for="(progress, index) in bar" :key="index"
    :style="[
      index < current ?
      {
        'background-color': 'green',
        'width': `calc((100% / ${bar}))`
      } : index === current ?
      {
        'background-color': 'yellow',
        'width': `calc((100% / ${bar}))`
      } :
      {
        'background-color': 'gray',
        'width': `calc((100% / ${bar}))`
      }
    ]">
    </div>
  </v-row>
</template>

<script>
export default {
  name: 'ProgressBar',
  props: {
    bar: {
      type: Number,
    },
    current: {
      type: Number,
    },
  },
};
</script>

<style scoped>
  .progress-bar{
    height: 5px;
  }
</style>
