<template>
  <div id="app" class="bg" :style="{
    'background-image': 'url(' + background + ')'}">
    <v-app id="inspire">
      <v-content>
        <ProgressBar
          v-if="progress.display"
          :bar="progress.bar"
          :current="progress.current"
        ></ProgressBar>
        <router-view></router-view>
        <Mascot
          v-if="mascot.display"
          :title="mascot.title"
          :text="mascot.text"
        ></Mascot>
      </v-content>
    </v-app>
  </div>
</template>

<script>
import Mascot from './components/Mascot.vue';
import ProgressBar from './components/ProgressBar.vue';

export default {
  name: 'App',
  components: { ProgressBar, Mascot },
  data: () => ({
    drawer: null,
  }),
  computed: {
    background() {
      // eslint-disable-next-line import/no-dynamic-require,global-require
      return require(`./assets/images/${this.$store.state.background}.jpg`);
    },
    progress() {
      return this.$store.state.progress;
    },
    mascot() {
      return this.$store.state.mascot;
    },
  },
};
</script>
<style>
  .bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: no-repeat center center;
    background-size: cover;
    transform: scale(1.0);
  }
  #inspire {
    background: none;
  }
</style>
